<div class="card shadow-sm h-100" *ngIf="Products">

  <div class="position-relative image">
    <img src={{Products.pictureUrl}} alt={{Products.name}} class="img-fluid bg-info">

    <div class="d-flex justify-content-center align-items-center hover-overlay">
      <button (click)="addItemsToBasket()" class="btn btn-primary fa fa-shopping-cart me-3 edit"></button>
      <button routerLink="/shop/{{Products.id}}" class="btn btn-primary">View</button>
    </div>
  </div>




  <div class="card-body d-flex flex-column ">

    <a href="" class="text-decoration-none">
      <h6 class="text-uppercase"> {{Products.name}}</h6>
    </a>

    <span>{{Products.price | currency}}</span>

    <div class="btn-group mt-auto">

    </div>


  </div>
</div>